body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}

.quedaBastilha a {
    text-decoration: none;
}

.quedaBastilha p, h2 {
    text-align: center;
}

.reinadoTerror a {
    text-decoration: none;
}

.reinadoTerror p, h2 {
    text-align: center;
}

.ascensaoNapoleao a {
    text-decoration: none;
}

.leiaMais {
    text-align: center;
}

.ascensaoNapoleao p, h2 {
    text-align: center;
}

.legado a {
    text-decoration: none;
}

.legado p, h2 {
    text-align: center;
}

header, footer {
    background-color: darkblue;
    color: aliceblue;
}

.paginaInicial a {
    text-decoration: none;
}

.conteudoCompleto a {
    text-decoration: none;
}

.linha1 {
    text-align: center;
}

.linha2 {
    text-align: center;
}

.quedaBastilha {
    display: inline-block;
    margin: 80px;
    width: 300px;
    padding: 10px;
    background-color: aquamarine;
}

.ascensaoNapoleao {
    display: inline-block;
    margin: 80px;
    width: 300px;
    padding: 10px;
    background-color: aqua;
}

.legado {
    display: inline-block;
    margin: 80px;
    width: 300px;
    padding: 10px;
    background-color: darkcyan;
}

.reinadoTerror {
    display: inline-block;
    margin: 80px;
    width: 300px;
    padding: 10px;
    background-color: darkturquoise;
}




